.app-header.header-shadow
    .app-header__logo
        .logo-src
        .header__pane.ml-auto
            div
                button.hamburger.close-sidebar-btn.hamburger--elastic(type='button' data-class='closed-sidebar')
                    span.hamburger-box
                        span.hamburger-inner
    .app-header__mobile-menu
        div
            button.hamburger.hamburger--elastic.mobile-toggle-nav(type='button')
                span.hamburger-box
                    span.hamburger-inner
    .app-header__menu
        span
            button.btn-icon.btn-icon-only.btn.btn-primary.btn-sm.mobile-toggle-header-nav(type='button')
                span.btn-icon-wrapper
                    i.fa.fa-ellipsis-v.fa-w-6
    .app-header__content
        .app-header-left
            .search-wrapper
                .input-holder
                    input.search-input(type='text' placeholder='Type to search')
                    button.search-icon
                        span
                button.close
            ul.header-megamenu.nav
                li.nav-item
                    a.nav-link(href='javascript:void(0);' data-placement='bottom' rel='popover-focus' data-offset='300' data-toggle='popover-custom')
                        i.nav-link-icon.pe-7s-gift  
                        |  Mega Menu
                        i.fa.fa-angle-down.ml-2.opacity-5
                    .rm-max-width
                        .d-none.popover-custom-content
                            .dropdown-mega-menu
                                .grid-menu.grid-menu-3col
                                    .no-gutters.row
                                        .col-sm-6.col-xl-4
                                            ul.nav.flex-column
                                                li.nav-item-header.nav-item  Overview
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        i.nav-link-icon.lnr-inbox
                                                        span  Contacts
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        i.nav-link-icon.lnr-book
                                                        span  Incidents
                                                        .ml-auto.badge.badge-pill.badge-danger
                                                            | 5
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        i.nav-link-icon.lnr-picture
                                                        span  Companies
                                                li.nav-item
                                                    a.nav-link.disabled(disabled='' href='javascript:void(0);')
                                                        i.nav-link-icon.lnr-file-empty
                                                        span  Dashboards
                                        .col-sm-6.col-xl-4
                                            ul.nav.flex-column
                                                li.nav-item-header.nav-item  Favourites
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        | Reports
                                                        | Conversions
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        | Quick Start
                                                        .ml-auto.badge.badge-success New
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        | Users &amp;
                                                        | Groups
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);') Proprieties
                                        .col-sm-6.col-xl-4
                                            ul.nav.flex-column
                                                li.nav-item-header.nav-item Sales &amp; Marketing
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);') Queues 
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        | Resource
                                                        | Groups
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        | Goal Metrics
                                                        .ml-auto.badge.badge-warning 3
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);') Campaigns
                li.btn-group.nav-item
                    a.nav-link(data-toggle='dropdown' aria-expanded='false')
                        span.badge.badge-pill.badge-danger.ml-0.mr-2 4
                        |  Settings
                        i.fa.fa-angle-down.ml-2.opacity-5
                    .rm-pointers.dropdown-menu(tabindex='-1' role='menu' aria-hidden='true')
                        .dropdown-menu-header
                            .dropdown-menu-header-inner.bg-secondary
                                .menu-header-image.opacity-5(style="background-image: url('/backend/assets/images/dropdown-header/abstract2.jpg');")
                                .menu-header-content
                                    h5.menu-header-title Overview
                                    h6.menu-header-subtitle Dropdown menus for everyone
                        .scroll-area-xs
                            .scrollbar-container
                                h6.dropdown-header(tabindex='-1') Key Figures
                                button.dropdown-item(type='button' tabindex='0')
                                    | Service
                                    | Calendar
                                button.dropdown-item(type='button' tabindex='0') Knowledge Base
                                button.dropdown-item(type='button' tabindex='0') Accounts
                                .dropdown-divider(tabindex='-1')
                                button.dropdown-item(type='button' tabindex='0') Products
                                button.dropdown-item(type='button' tabindex='0') Rollup Queries
                        ul.nav.flex-column
                            li.nav-item-divider.nav-item
                            li.nav-item-btn.nav-item
                                button.btn-wide.btn-shadow.btn.btn-danger.btn-sm Cancel
                li.dropdown.nav-item
                    a.nav-link(aria-haspopup='true' data-toggle='dropdown' aria-expanded='false')
                        i.nav-link-icon.pe-7s-settings
                        |  Projects
                        i.fa.fa-angle-down.ml-2.opacity-5
                    .dropdown-menu-rounded.dropdown-menu-lg.rm-pointers.dropdown-menu(tabindex='-1' role='menu' aria-hidden='true')
                        .dropdown-menu-header
                            .dropdown-menu-header-inner.bg-success
                                .menu-header-image.opacity-1(style="background-image: url('/backend/assets/images/dropdown-header/abstract3.jpg');")
                                .menu-header-content.text-left
                                    h5.menu-header-title Overview
                                    h6.menu-header-subtitle Unlimited options
                                    .menu-header-btn-pane
                                        button.mr-2.btn.btn-dark.btn-sm Settings
                                        button.btn-icon.btn-icon-only.btn.btn-warning.btn-sm
                                            i.pe-7s-config.btn-icon-wrapper
                        button.dropdown-item(type='button' tabindex='0')
                            i.dropdown-icon.lnr-file-empty
                            | Graphic Design
                        button.dropdown-item(type='button' tabindex='0')
                            i.dropdown-icon.lnr-file-empty  
                            | App Development
                        button.dropdown-item(type='button' tabindex='0')
                            i.dropdown-icon.lnr-file-empty  
                            | Icon Design
                        .dropdown-divider(tabindex='-1')
                        button.dropdown-item(type='button' tabindex='0')
                            i.dropdown-icon.lnr-file-empty
                            | Miscellaneous
                        button.dropdown-item(type='button' tabindex='0')
                            i.dropdown-icon.lnr-file-empty
                            | Frontend Dev
        .app-header-right
            .header-dots
                .dropdown
                    button.p-0.mr-2.btn.btn-link(type='button' aria-haspopup='true' aria-expanded='false' data-toggle='dropdown')
                        span.icon-wrapper.icon-wrapper-alt.rounded-circle
                            span.icon-wrapper-bg.bg-primary
                            i.icon.text-primary.ion-android-apps
                    .dropdown-menu-xl.rm-pointers.dropdown-menu.dropdown-menu-right(tabindex='-1' role='menu' aria-hidden='true')
                        .dropdown-menu-header
                            .dropdown-menu-header-inner.bg-plum-plate
                                .menu-header-image(style="background-image: url('/backend/assets/images/dropdown-header/abstract4.jpg');")
                                .menu-header-content.text-white
                                    h5.menu-header-title Grid Dashboard
                                    h6.menu-header-subtitle Easy grid navigation inside dropdowns
                        .grid-menu.grid-menu-xl.grid-menu-3col
                            .no-gutters.row
                                .col-sm-6.col-xl-4
                                    button.btn-icon-vertical.btn-square.btn-transition.btn.btn-outline-link
                                        i.pe-7s-world.icon-gradient.bg-night-fade.btn-icon-wrapper.btn-icon-lg.mb-3
                                        |                                                 Automation
                                .col-sm-6.col-xl-4
                                    button.btn-icon-vertical.btn-square.btn-transition.btn.btn-outline-link
                                        i.pe-7s-piggy.icon-gradient.bg-night-fade.btn-icon-wrapper.btn-icon-lg.mb-3
                                        |  Reports
                                .col-sm-6.col-xl-4
                                    button.btn-icon-vertical.btn-square.btn-transition.btn.btn-outline-link
                                        i.pe-7s-config.icon-gradient.bg-night-fade.btn-icon-wrapper.btn-icon-lg.mb-3
                                        |  Settings
                                .col-sm-6.col-xl-4
                                    button.btn-icon-vertical.btn-square.btn-transition.btn.btn-outline-link
                                        i.pe-7s-browser.icon-gradient.bg-night-fade.btn-icon-wrapper.btn-icon-lg.mb-3
                                        |  Content
                                .col-sm-6.col-xl-4
                                    button.btn-icon-vertical.btn-square.btn-transition.btn.btn-outline-link
                                        i.pe-7s-hourglass.icon-gradient.bg-night-fade.btn-icon-wrapper.btn-icon-lg.mb-3
                                        |                                                 Activity
                                .col-sm-6.col-xl-4
                                    button.btn-icon-vertical.btn-square.btn-transition.btn.btn-outline-link
                                        i.pe-7s-world.icon-gradient.bg-night-fade.btn-icon-wrapper.btn-icon-lg.mb-3
                                        |  Contacts
                        ul.nav.flex-column
                            li.nav-item-divider.nav-item
                            li.nav-item-btn.text-center.nav-item
                                button.btn-shadow.btn.btn-primary.btn-sm Follow-ups
                .dropdown
                    button.p-0.mr-2.btn.btn-link(type='button' aria-haspopup='true' aria-expanded='false' data-toggle='dropdown')
                        span.icon-wrapper.icon-wrapper-alt.rounded-circle
                            span.icon-wrapper-bg.bg-danger
                            i.icon.text-danger.icon-anim-pulse.ion-android-notifications
                            span.badge.badge-dot.badge-dot-sm.badge-danger Notifications
                    .dropdown-menu-xl.rm-pointers.dropdown-menu.dropdown-menu-right(tabindex='-1' role='menu' aria-hidden='true')
                        .dropdown-menu-header.mb-0
                            .dropdown-menu-header-inner.bg-deep-blue
                                .menu-header-image.opacity-1(style="background-image: url('/backend/assets/images/dropdown-header/city3.jpg');")
                                .menu-header-content.text-dark
                                    h5.menu-header-title Notifications
                                    h6.menu-header-subtitle
                                        | You have 
                                        b 21
                                        |  unread messages
                        ul.tabs-animated-shadow.tabs-animated.nav.nav-justified.tabs-shadow-bordered.p-3
                            li.nav-item
                                a.nav-link.active(role='tab' data-toggle='tab' href='#tab-messages-header')
                                    span Messages
                            li.nav-item
                                a.nav-link(role='tab' data-toggle='tab' href='#tab-events-header')
                                    span Events
                            li.nav-item
                                a.nav-link(role='tab' data-toggle='tab' href='#tab-errors-header')
                                    span System Errors
                        .tab-content
                            #tab-messages-header.tab-pane.active(role='tabpanel')
                                .scroll-area-sm
                                    .scrollbar-container
                                        .p-3
                                            .notifications-box
                                                .vertical-time-simple.vertical-without-time.vertical-timeline.vertical-timeline--one-column
                                                    .vertical-timeline-item.dot-danger.vertical-timeline-element
                                                        div
                                                            span.vertical-timeline-element-icon.bounce-in
                                                            .vertical-timeline-element-content.bounce-in
                                                                h4.timeline-title
                                                                    | All Hands Meeting
                                                                span.vertical-timeline-element-date
                                                    .vertical-timeline-item.dot-warning.vertical-timeline-element
                                                        div
                                                            span.vertical-timeline-element-icon.bounce-in
                                                            .vertical-timeline-element-content.bounce-in
                                                                p
                                                                    | Yet another one, at 
                                                                    span.text-success 15:00 PM
                                                                span.vertical-timeline-element-date
                                                    .vertical-timeline-item.dot-success.vertical-timeline-element
                                                        div
                                                            span.vertical-timeline-element-icon.bounce-in
                                                            .vertical-timeline-element-content.bounce-in
                                                                h4.timeline-title
                                                                    | Build the production
                                                                    | release
                                                                    span.badge.badge-danger.ml-2 NEW
                                                                span.vertical-timeline-element-date
                                                    .vertical-timeline-item.dot-primary.vertical-timeline-element
                                                        div
                                                            span.vertical-timeline-element-icon.bounce-in
                                                            .vertical-timeline-element-content.bounce-in
                                                                h4.timeline-title
                                                                    | Something not
                                                                    | important
                                                                    .avatar-wrapper.mt-2.avatar-wrapper-overlap
                                                                        .avatar-icon-wrapper.avatar-icon-sm
                                                                            .avatar-icon
                                                                                img(src='/backend/assets/images/avatars/1.jpg' alt='')
                                                                        .avatar-icon-wrapper.avatar-icon-sm
                                                                            .avatar-icon
                                                                                img(src='/backend/assets/images/avatars/2.jpg' alt='')
                                                                        .avatar-icon-wrapper.avatar-icon-sm
                                                                            .avatar-icon
                                                                                img(src='/backend/assets/images/avatars/3.jpg' alt='')
                                                                        .avatar-icon-wrapper.avatar-icon-sm
                                                                            .avatar-icon
                                                                                img(src='/backend/assets/images/avatars/4.jpg' alt='')
                                                                        .avatar-icon-wrapper.avatar-icon-sm
                                                                            .avatar-icon
                                                                                img(src='/backend/assets/images/avatars/5.jpg' alt='')
                                                                        .avatar-icon-wrapper.avatar-icon-sm
                                                                            .avatar-icon
                                                                                img(src='/backend/assets/images/avatars/9.jpg' alt='')
                                                                        .avatar-icon-wrapper.avatar-icon-sm
                                                                            .avatar-icon
                                                                                img(src='/backend/assets/images/avatars/7.jpg' alt='')
                                                                        .avatar-icon-wrapper.avatar-icon-sm
                                                                            .avatar-icon
                                                                                img(src='/backend/assets/images/avatars/8.jpg' alt='')
                                                                        .avatar-icon-wrapper.avatar-icon-sm.avatar-icon-add
                                                                            .avatar-icon
                                                                                i +
                                                                span.vertical-timeline-element-date
                                                    .vertical-timeline-item.dot-info.vertical-timeline-element
                                                        div
                                                            span.vertical-timeline-element-icon.bounce-in
                                                            .vertical-timeline-element-content.bounce-in
                                                                h4.timeline-title
                                                                    | This dot has an info
                                                                    | state
                                                                span.vertical-timeline-element-date
                                                    .vertical-timeline-item.dot-danger.vertical-timeline-element
                                                        div
                                                            span.vertical-timeline-element-icon.bounce-in
                                                            .vertical-timeline-element-content.bounce-in
                                                                h4.timeline-title
                                                                    | All Hands Meeting
                                                                span.vertical-timeline-element-date
                                                    .vertical-timeline-item.dot-warning.vertical-timeline-element
                                                        div
                                                            span.vertical-timeline-element-icon.bounce-in
                                                            .vertical-timeline-element-content.bounce-in
                                                                p
                                                                    | Yet another one, at 
                                                                    span.text-success 15:00 PM
                                                                span.vertical-timeline-element-date
                                                    .vertical-timeline-item.dot-success.vertical-timeline-element
                                                        div
                                                            span.vertical-timeline-element-icon.bounce-in
                                                            .vertical-timeline-element-content.bounce-in
                                                                h4.timeline-title
                                                                    | Build the production
                                                                    | release
                                                                    span.badge.badge-danger.ml-2 NEW
                                                                span.vertical-timeline-element-date
                                                    .vertical-timeline-item.dot-dark.vertical-timeline-element
                                                        div
                                                            span.vertical-timeline-element-icon.bounce-in
                                                            .vertical-timeline-element-content.bounce-in
                                                                h4.timeline-title
                                                                    | This dot has a dark
                                                                    | state
                                                                span.vertical-timeline-element-date
                            #tab-events-header.tab-pane(role='tabpanel')
                                .scroll-area-sm
                                    .scrollbar-container
                                        .p-3
                                            .vertical-without-time.vertical-timeline.vertical-timeline--animate.vertical-timeline--one-column
                                                .vertical-timeline-item.vertical-timeline-element
                                                    div
                                                        span.vertical-timeline-element-icon.bounce-in
                                                            i.badge.badge-dot.badge-dot-xl.badge-success
                                                        .vertical-timeline-element-content.bounce-in
                                                            h4.timeline-title All Hands Meeting
                                                            p
                                                                | Lorem ipsum dolor sic amet, today at
                                                                a(href='javascript:void(0);') 12:00 PM
                                                            span.vertical-timeline-element-date
                                                .vertical-timeline-item.vertical-timeline-element
                                                    div
                                                        span.vertical-timeline-element-icon.bounce-in
                                                            i.badge.badge-dot.badge-dot-xl.badge-warning
                                                        .vertical-timeline-element-content.bounce-in
                                                            p
                                                                | Another meeting today, at 
                                                                b.text-danger 12:00 PM
                                                            p
                                                                | Yet another one, at 
                                                                span.text-success 15:00 PM
                                                            span.vertical-timeline-element-date
                                                .vertical-timeline-item.vertical-timeline-element
                                                    div
                                                        span.vertical-timeline-element-icon.bounce-in
                                                            i.badge.badge-dot.badge-dot-xl.badge-danger
                                                        .vertical-timeline-element-content.bounce-in
                                                            h4.timeline-title
                                                                | Build the production
                                                                | release
                                                            p
                                                                | Lorem ipsum dolor sit amit,consectetur eiusmdd
                                                                | tempor incididunt ut
                                                                | labore et dolore magna elit enim at minim veniam
                                                                | quis nostrud
                                                            span.vertical-timeline-element-date
                                                .vertical-timeline-item.vertical-timeline-element
                                                    div
                                                        span.vertical-timeline-element-icon.bounce-in
                                                            i.badge.badge-dot.badge-dot-xl.badge-primary
                                                        .vertical-timeline-element-content.bounce-in
                                                            h4.timeline-title.text-success
                                                                | Something
                                                                | not important
                                                            p
                                                                | Lorem ipsum dolor sit amit,consectetur elit enim
                                                                | at minim veniam quis nostrud
                                                            span.vertical-timeline-element-date
                                                .vertical-timeline-item.vertical-timeline-element
                                                    div
                                                        span.vertical-timeline-element-icon.bounce-in
                                                            i.badge.badge-dot.badge-dot-xl.badge-success
                                                        .vertical-timeline-element-content.bounce-in
                                                            h4.timeline-title All Hands Meeting
                                                            p
                                                                | Lorem ipsum dolor sic amet, today at
                                                                a(href='javascript:void(0);') 12:00 PM
                                                            span.vertical-timeline-element-date
                                                .vertical-timeline-item.vertical-timeline-element
                                                    div
                                                        span.vertical-timeline-element-icon.bounce-in
                                                            i.badge.badge-dot.badge-dot-xl.badge-warning
                                                        .vertical-timeline-element-content.bounce-in
                                                            p
                                                                | Another meeting today, at 
                                                                b.text-danger 12:00 PM
                                                            p
                                                                | Yet another one, at 
                                                                span.text-success 15:00 PM
                                                            span.vertical-timeline-element-date
                                                .vertical-timeline-item.vertical-timeline-element
                                                    div
                                                        span.vertical-timeline-element-icon.bounce-in
                                                            i.badge.badge-dot.badge-dot-xl.badge-danger
                                                        .vertical-timeline-element-content.bounce-in
                                                            h4.timeline-title
                                                                | Build the production
                                                                | release
                                                            p
                                                                | Lorem ipsum dolor sit amit,consectetur eiusmdd
                                                                | tempor incididunt ut
                                                                | labore et dolore magna elit enim at minim veniam
                                                                | quis nostrud
                                                            span.vertical-timeline-element-date
                                                .vertical-timeline-item.vertical-timeline-element
                                                    div
                                                        span.vertical-timeline-element-icon.bounce-in
                                                            i.badge.badge-dot.badge-dot-xl.badge-primary
                                                        .vertical-timeline-element-content.bounce-in
                                                            h4.timeline-title.text-success
                                                                | Something
                                                                | not important
                                                            p
                                                                | Lorem ipsum dolor sit amit,consectetur elit enim
                                                                | at minim veniam quis nostrud
                                                            span.vertical-timeline-element-date
                            #tab-errors-header.tab-pane(role='tabpanel')
                                .scroll-area-sm
                                    .scrollbar-container
                                        .no-results.pt-3.pb-0
                                            .swal2-icon.swal2-success.swal2-animate-success-icon
                                                .swal2-success-circular-line-left(style='background-color: rgb(255, 255, 255);')
                                                span.swal2-success-line-tip
                                                span.swal2-success-line-long
                                                .swal2-success-ring
                                                .swal2-success-fix(style='background-color: rgb(255, 255, 255);')
                                                .swal2-success-circular-line-right(style='background-color: rgb(255, 255, 255);')
                                            .results-subtitle All caught up!
                                            .results-title There are no system errors!
                        ul.nav.flex-column
                            li.nav-item-divider.nav-item
                            li.nav-item-btn.text-center.nav-item
                                button.btn-shadow.btn-wide.btn-pill.btn.btn-focus.btn-sm
                                    | View Latest
                                    | Changes
                .dropdown
                    button.p-0.mr-2.btn.btn-link(type='button' data-toggle='dropdown')
                        span.icon-wrapper.icon-wrapper-alt.rounded-circle
                            span.icon-wrapper-bg.bg-focus
                            span.language-icon.opacity-8.flag.large.DE
                    .rm-pointers.dropdown-menu.dropdown-menu-right(tabindex='-1' role='menu' aria-hidden='true')
                        .dropdown-menu-header
                            .dropdown-menu-header-inner.pt-4.pb-4.bg-focus
                                .menu-header-image.opacity-05(style="background-image: url('/backend/assets/images/dropdown-header/city2.jpg');")
                                .menu-header-content.text-center.text-white
                                    h6.menu-header-subtitle.mt-0  Choose Language
                        h6.dropdown-header(tabindex='-1')  Popular Languages
                        button.dropdown-item(type='button' tabindex='0')
                            span.mr-3.opacity-8.flag.large.US
                            |  USA
                        button.dropdown-item(type='button' tabindex='0')
                            span.mr-3.opacity-8.flag.large.CH
                            |  Switzerland
                        button.dropdown-item(type='button' tabindex='0')
                            span.mr-3.opacity-8.flag.large.FR
                            |  France
                        button.dropdown-item(type='button' tabindex='0')
                            span.mr-3.opacity-8.flag.large.ES
                            | Spain
                        .dropdown-divider(tabindex='-1')
                        h6.dropdown-header(tabindex='-1') Others
                        button.dropdown-item.active(type='button' tabindex='0')
                            span.mr-3.opacity-8.flag.large.DE
                            |  Germany
                        button.dropdown-item(type='button' tabindex='0')
                            span.mr-3.opacity-8.flag.large.IT
                            |  Italy
                .dropdown
                    button.p-0.btn.btn-link.dd-chart-btn(type='button' aria-haspopup='true' data-toggle='dropdown' aria-expanded='false')
                        span.icon-wrapper.icon-wrapper-alt.rounded-circle
                            span.icon-wrapper-bg.bg-success
                            i.icon.text-success.ion-ios-analytics
                    .dropdown-menu-xl.rm-pointers.dropdown-menu.dropdown-menu-right(tabindex='-1' role='menu' aria-hidden='true')
                        .dropdown-menu-header
                            .dropdown-menu-header-inner.bg-premium-dark
                                .menu-header-image(style="background-image: url('/backend/assets/images/dropdown-header/abstract4.jpg');")
                                .menu-header-content.text-white
                                    h5.menu-header-title Users Online
                                    h6.menu-header-subtitle Recent Account Activity Overview
                        .widget-chart
                            .widget-chart-content
                                .icon-wrapper.rounded-circle
                                    .icon-wrapper-bg.opacity-9.bg-focus
                                    i.lnr-users.text-white
                                .widget-numbers
                                    span 344k
                                .widget-subheading.pt-2
                                    | Profile views since last login
                                .widget-description.text-danger
                                    span.pr-1
                                        span 176%
                                    i.fa.fa-arrow-left
                            .widget-chart-wrapper
                                #dashboard-sparkline-carousel-3-pop
                        ul.nav.flex-column
                            li.nav-item-divider.mt-0.nav-item
                            li.nav-item-btn.text-center.nav-item
                                button.btn-shine.btn-wide.btn-pill.btn.btn-warning.btn-sm
                                    i.fa.fa-cog.fa-spin.mr-2
                                    | View Details
            .header-btn-lg.pr-0
                .widget-content.p-0
                    .widget-content-wrapper
                        .widget-content-left
                            .btn-group
                                a.p-0.btn(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    img.rounded-circle(width='42' src='/backend/assets/images/avatars/1.jpg' alt='')
                                    i.fa.fa-angle-down.ml-2.opacity-8
                                .rm-pointers.dropdown-menu-lg.dropdown-menu.dropdown-menu-right(tabindex='-1' role='menu' aria-hidden='true')
                                    .dropdown-menu-header
                                        .dropdown-menu-header-inner.bg-info
                                            .menu-header-image.opacity-2(style="background-image: url('/backend/assets/images/dropdown-header/city3.jpg');")
                                            .menu-header-content.text-left
                                                .widget-content.p-0
                                                    .widget-content-wrapper
                                                        .widget-content-left.mr-3
                                                            img.rounded-circle(width='42' src='/backend/assets/images/avatars/1.jpg' alt='')
                                                        .widget-content-left
                                                            .widget-heading Alina Mcloughlin
                                                            .widget-subheading.opacity-8
                                                                | A short
                                                                | profile description
                                                        .widget-content-right.mr-2
                                                            button.btn-pill.btn-shadow.btn-shine.btn.btn-focus Logout
                                    .scroll-area-xs(style='height: 150px;')
                                        .scrollbar-container.ps
                                            ul.nav.flex-column
                                                li.nav-item-header.nav-item Activity
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        | Chat
                                                        .ml-auto.badge.badge-pill.badge-info 8
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        | Recover
                                                        | Password
                                                li.nav-item-header.nav-item
                                                    | My Account
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        | Settings
                                                        .ml-auto.badge.badge-success New
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);')
                                                        | Messages
                                                        .ml-auto.badge.badge-warning 512
                                                li.nav-item
                                                    a.nav-link(href='javascript:void(0);') Logs
                                    ul.nav.flex-column
                                        li.nav-item-divider.mb-0.nav-item
                                    .grid-menu.grid-menu-2col
                                        .no-gutters.row
                                            .col-sm-6
                                                button.btn-icon-vertical.btn-transition.btn-transition-alt.pt-2.pb-2.btn.btn-outline-warning
                                                    i.pe-7s-chat.icon-gradient.bg-amy-crisp.btn-icon-wrapper.mb-2
                                                    |                                                             Message Inbox
                                            .col-sm-6
                                                button.btn-icon-vertical.btn-transition.btn-transition-alt.pt-2.pb-2.btn.btn-outline-danger
                                                    i.pe-7s-ticket.icon-gradient.bg-love-kiss.btn-icon-wrapper.mb-2
                                                    b Support Tickets
                                    ul.nav.flex-column
                                        li.nav-item-divider.nav-item
                                        li.nav-item-btn.text-center.nav-item
                                            button.btn-wide.btn.btn-primary.btn-sm
                                                | Open Messages
                        .widget-content-left.ml-3.header-user-info
                            .widget-heading  Alina Mclourd 
                            .widget-subheading  VP People Manager 
                        .widget-content-right.header-user-info.ml-3
                            button.btn-shadow.p-1.btn.btn-primary.btn-sm.show-toastr-example(type='button')
                                i.fa.text-white.fa-calendar.pr-1.pl-1
            .header-btn-lg
                button.hamburger.hamburger--elastic.open-right-drawer(type='button')
                    span.hamburger-box
                        span.hamburger-inner
