.mobile-menu(class='md:hidden')
    .mobile-menu-bar
        a.flex.mr-auto(href='')
            img.w-6(alt='Midone Tailwind HTML Admin Template' src='dist/images/logo.svg')
        a#mobile-menu-toggler(href='javascript:;')
            i.w-8.h-8.text-white.transform.-rotate-90(data-feather='bar-chart-2')
    ul.border-t.border-theme-24.py-5.hidden
        li
            a.menu.menu--active(href='index.html')
                .menu__icon
                    i(data-feather='home')
                .menu__title  Dashboard 
        li
            a.menu(href='javascript:;')
                .menu__icon
                    i(data-feather='box')
                .menu__title
                    | Menu Layout 
                    i.menu__sub-icon(data-feather='chevron-down')
            ul
                li
                    a.menu(href='index.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Side Menu 
                li
                    a.menu(href='simple-menu-light-dashboard.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Simple Menu 
                li
                    a.menu(href='top-menu-light-dashboard.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Top Menu 
        li
            a.menu(href='side-menu-light-inbox.html')
                .menu__icon
                    i(data-feather='inbox')
                .menu__title  Inbox 
        li
            a.menu(href='side-menu-light-file-manager.html')
                .menu__icon
                    i(data-feather='hard-drive')
                .menu__title  File Manager 
        li
            a.menu(href='side-menu-light-point-of-sale.html')
                .menu__icon
                    i(data-feather='credit-card')
                .menu__title  Point of Sale 
        li
            a.menu(href='side-menu-light-chat.html')
                .menu__icon
                    i(data-feather='message-square')
                .menu__title  Chat 
        li
            a.menu(href='side-menu-light-post.html')
                .menu__icon
                    i(data-feather='file-text')
                .menu__title  Post 
        li.menu__devider.my-6
        li
            a.menu(href='javascript:;')
                .menu__icon
                    i(data-feather='edit')
                .menu__title
                    | Crud 
                    i.menu__sub-icon(data-feather='chevron-down')
            ul
                li
                    a.menu(href='side-menu-light-crud-data-list.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Data List 
                li
                    a.menu(href='side-menu-light-crud-form.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Form 
        li
            a.menu(href='javascript:;')
                .menu__icon
                    i(data-feather='users')
                .menu__title
                    | Users 
                    i.menu__sub-icon(data-feather='chevron-down')
            ul
                li
                    a.menu(href='side-menu-light-users-layout-1.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Layout 1 
                li
                    a.menu(href='side-menu-light-users-layout-2.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Layout 2 
                li
                    a.menu(href='side-menu-light-users-layout-3.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Layout 3 
        li
            a.menu(href='javascript:;')
                .menu__icon
                    i(data-feather='trello')
                .menu__title
                    | Profile 
                    i.menu__sub-icon(data-feather='chevron-down')
            ul
                li
                    a.menu(href='side-menu-light-profile-overview-1.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Overview 1 
                li
                    a.menu(href='side-menu-light-profile-overview-2.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Overview 2 
                li
                    a.menu(href='side-menu-light-profile-overview-3.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Overview 3 
        li
            a.menu(href='javascript:;')
                .menu__icon
                    i(data-feather='layout')
                .menu__title
                    | Pages 
                    i.menu__sub-icon(data-feather='chevron-down')
            ul
                li
                    a.menu(href='javascript:;')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title
                            | Wizards 
                            i.menu__sub-icon(data-feather='chevron-down')
                    ul
                        li
                            a.menu(href='side-menu-light-wizard-layout-1.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 1
                        li
                            a.menu(href='side-menu-light-wizard-layout-2.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 2
                        li
                            a.menu(href='side-menu-light-wizard-layout-3.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 3
                li
                    a.menu(href='javascript:;')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title
                            | Blog 
                            i.menu__sub-icon(data-feather='chevron-down')
                    ul
                        li
                            a.menu(href='side-menu-light-blog-layout-1.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 1
                        li
                            a.menu(href='side-menu-light-blog-layout-2.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 2
                        li
                            a.menu(href='side-menu-light-blog-layout-3.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 3
                li
                    a.menu(href='javascript:;')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title
                            | Pricing 
                            i.menu__sub-icon(data-feather='chevron-down')
                    ul
                        li
                            a.menu(href='side-menu-light-pricing-layout-1.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 1
                        li
                            a.menu(href='side-menu-light-pricing-layout-2.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 2
                li
                    a.menu(href='javascript:;')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title
                            | Invoice 
                            i.menu__sub-icon(data-feather='chevron-down')
                    ul
                        li
                            a.menu(href='side-menu-light-invoice-layout-1.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 1
                        li
                            a.menu(href='side-menu-light-invoice-layout-2.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 2
                li
                    a.menu(href='javascript:;')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title
                            | FAQ 
                            i.menu__sub-icon(data-feather='chevron-down')
                    ul
                        li
                            a.menu(href='side-menu-light-faq-layout-1.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 1
                        li
                            a.menu(href='side-menu-light-faq-layout-2.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 2
                        li
                            a.menu(href='side-menu-light-faq-layout-3.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Layout 3
                li
                    a.menu(href='login-light-login.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Login 
                li
                    a.menu(href='login-light-register.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Register 
                li
                    a.menu(href='main-light-error-page.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Error Page 
                li
                    a.menu(href='side-menu-light-update-profile.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Update profile 
                li
                    a.menu(href='side-menu-light-change-password.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Change Password 
        li.menu__devider.my-6
        li
            a.menu(href='javascript:;')
                .menu__icon
                    i(data-feather='inbox')
                .menu__title
                    | Components 
                    i.menu__sub-icon(data-feather='chevron-down')
            ul
                li
                    a.menu(href='javascript:;')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title
                            | Grid 
                            i.menu__sub-icon(data-feather='chevron-down')
                    ul
                        li
                            a.menu(href='side-menu-light-regular-table.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Regular Table
                        li
                            a.menu(href='side-menu-light-tabulator.html')
                                .menu__icon
                                    i(data-feather='zap')
                                .menu__title Tabulator
                li
                    a.menu(href='side-menu-light-accordion.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Accordion 
                li
                    a.menu(href='side-menu-light-button.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Button 
                li
                    a.menu(href='side-menu-light-modal.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Modal 
                li
                    a.menu(href='side-menu-light-alert.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Alert 
                li
                    a.menu(href='side-menu-light-progress-bar.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Progress Bar 
                li
                    a.menu(href='side-menu-light-tooltip.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Tooltip 
                li
                    a.menu(href='side-menu-light-dropdown.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Dropdown 
                li
                    a.menu(href='side-menu-light-toast.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Toast 
                li
                    a.menu(href='side-menu-light-typography.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Typography 
                li
                    a.menu(href='side-menu-light-icon.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Icon 
                li
                    a.menu(href='side-menu-light-loading-icon.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Loading Icon 
        li
            a.menu(href='javascript:;')
                .menu__icon
                    i(data-feather='sidebar')
                .menu__title
                    | Forms 
                    i.menu__sub-icon(data-feather='chevron-down')
            ul
                li
                    a.menu(href='side-menu-light-regular-form.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Regular Form 
                li
                    a.menu(href='side-menu-light-datepicker.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Datepicker 
                li
                    a.menu(href='side-menu-light-tail-select.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Tail Select 
                li
                    a.menu(href='side-menu-light-file-upload.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  File Upload 
                li
                    a.menu(href='side-menu-light-wysiwyg-editor.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Wysiwyg Editor 
                li
                    a.menu(href='side-menu-light-validation.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Validation 
        li
            a.menu(href='javascript:;')
                .menu__icon
                    i(data-feather='hard-drive')
                .menu__title
                    | Widgets 
                    i.menu__sub-icon(data-feather='chevron-down')
            ul
                li
                    a.menu(href='side-menu-light-chart.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Chart 
                li
                    a.menu(href='side-menu-light-slider.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Slider 
                li
                    a.menu(href='side-menu-light-image-zoom.html')
                        .menu__icon
                            i(data-feather='activity')
                        .menu__title  Image Zoom 
