.app-sidebar.sidebar-shadow
    .app-header__logo
        .logo-src
        .header__pane.ml-auto
            div
                button.hamburger.close-sidebar-btn.hamburger--elastic(type='button' data-class='closed-sidebar')
                    span.hamburger-box
                        span.hamburger-inner
    .app-header__mobile-menu
        div
            button.hamburger.hamburger--elastic.mobile-toggle-nav(type='button')
                span.hamburger-box
                    span.hamburger-inner
    .app-header__menu
        span
            button.btn-icon.btn-icon-only.btn.btn-primary.btn-sm.mobile-toggle-header-nav(type='button')
                span.btn-icon-wrapper
                    i.fa.fa-ellipsis-v.fa-w-6
    .scrollbar-sidebar
        .app-sidebar__inner
            ul.vertical-nav-menu
                li.app-sidebar__heading Menu
                li.mm-active
                    a(href='#')
                        i.metismenu-icon.pe-7s-rocket
                        | Dashboards
                        i.metismenu-state-icon.pe-7s-angle-down.caret-left
                    ul
                        li
                            a.mm-active(href='index.html')
                                i.metismenu-icon
                                | Analytics
                        li
                            a(href='dashboards-commerce.html')
                                i.metismenu-icon
                                | Commerce
                        li
                            a(href='dashboards-sales.html')
                                i.metismenu-icon
                                | Sales
                        li
                            a(href='#')
                                i.metismenu-icon
                                |  Minimal
                                i.metismenu-state-icon.pe-7s-angle-down.caret-left
                            ul
                                li
                                    a(href='dashboards-minimal-1.html')
                                        i.metismenu-icon
                                        | Variation 1
                                li
                                    a(href='dashboards-minimal-2.html')
                                        i.metismenu-icon
                                        | Variation 2
                        li
                            a(href='dashboards-crm.html')
                                i.metismenu-icon
                                |  CRM
                li
                    a(href='#')
                        i.metismenu-icon.pe-7s-browser
                        | Pages
                        i.metismenu-state-icon.pe-7s-angle-down.caret-left
                    ul
                        li
                            a(href='pages-login.html')
                                i.metismenu-icon
                                |  Login
                        li
                            a(href='pages-login-boxed.html')
                                i.metismenu-icon
                                | Login Boxed
                        li
                            a(href='pages-register.html')
                                i.metismenu-icon
                                | Register
                        li
                            a(href='pages-register-boxed.html')
                                i.metismenu-icon
                                | Register Boxed
                        li
                            a(href='pages-forgot-password.html')
                                i.metismenu-icon
                                | Forgot Password
                        li
                            a(href='pages-forgot-password-boxed.html')
                                i.metismenu-icon
                                | Forgot Password Boxed
                li
                    a(href='#')
                        i.metismenu-icon.pe-7s-plugin
                        | Applications
                        i.metismenu-state-icon.pe-7s-angle-down.caret-left
                    ul
                        li
                            a(href='apps-mailbox.html')
                                i.metismenu-icon
                                | Mailbox
                        li
                            a(href='apps-chat.html')
                                i.metismenu-icon
                                | Chat
                        li
                            a(href='apps-faq-section.html')
                                i.metismenu-icon
                                | FAQ Section
                        li
                            a(href='#')
                                i.metismenu-icon
                                | Forums
                                i.metismenu-state-icon.pe-7s-angle-down.caret-left
                            ul
                                li
                                    a(href='apps-forum-list.html')
                                        i.metismenu-icon
                                        | Forum Listing
                                li
                                    a(href='apps-forum-threads.html')
                                        i.metismenu-icon
                                        | Forum Threads
                                li
                                    a(href='apps-forum-discussion.html')
                                        i.metismenu-icon
                                        | Forum Discussion
                li.app-sidebar__heading UI Components
                li
                    a(href='#')
                        i.metismenu-icon.pe-7s-diamond
                        |  Elements
                        i.metismenu-state-icon.pe-7s-angle-down.caret-left
                    ul
                        li
                            a(href='#')
                                i.metismenu-icon
                                |  Buttons
                                i.metismenu-state-icon.pe-7s-angle-down.caret-left
                            ul
                                li
                                    a(href='elements-buttons-standard.html')
                                        i.metismenu-icon
                                        | Standard
                                li
                                    a(href='elements-buttons-pills.html')
                                        i.metismenu-icon
                                        | Pills
                                li
                                    a(href='elements-buttons-square.html')
                                        i.metismenu-icon
                                        | Square
                                li
                                    a(href='elements-buttons-shadow.html')
                                        i.metismenu-icon
                                        | Shadow
                                li
                                    a(href='elements-buttons-icons.html')
                                        i.metismenu-icon
                                        | With Icons
                        li
                            a(href='elements-dropdowns.html')
                                i.metismenu-icon
                                | Dropdowns
                        li
                            a(href='elements-icons.html')
                                i.metismenu-icon
                                | Icons
                        li
                            a(href='elements-badges-labels.html')
                                i.metismenu-icon
                                | Badges
                        li
                            a(href='elements-cards.html')
                                i.metismenu-icon
                                | Cards
                        li
                            a(href='elements-loaders.html')
                                i.metismenu-icon
                                | Loading Indicators
                        li
                            a(href='elements-list-group.html')
                                i.metismenu-icon
                                | List Groups
                        li
                            a(href='elements-navigation.html')
                                i.metismenu-icon
                                | Navigation Menus
                        li
                            a(href='elements-timelines.html')
                                i.metismenu-icon
                                | Timeline
                        li
                            a(href='elements-utilities.html')
                                i.metismenu-icon
                                | Utilities
                li
                    a(href='#')
                        i.metismenu-icon.pe-7s-car
                        |  Components
                        i.metismenu-state-icon.pe-7s-angle-down.caret-left
                    ul
                        li
                            a(href='components-tabs.html')
                                i.metismenu-icon
                                | Tabs
                        li
                            a(href='components-accordions.html')
                                i.metismenu-icon
                                | Accordions
                        li
                            a(href='components-notifications.html')
                                i.metismenu-icon
                                | Notifications
                        li
                            a(href='components-modals.html')
                                i.metismenu-icon
                                | Modals
                        li
                            a(href='components-loading-blocks.html')
                                i.metismenu-icon
                                | Loading Blockers
                        li
                            a(href='components-progress-bar.html')
                                i.metismenu-icon
                                | Progress Bar
                        li
                            a(href='components-tooltips-popovers.html')
                                i.metismenu-icon  
                                | Tooltips &amp; Popovers
                        li
                            a(href='components-carousel.html')
                                i.metismenu-icon
                                | Carousel
                        li
                            a(href='components-calendar.html')
                                i.metismenu-icon
                                | Calendar
                        li
                            a(href='components-pagination.html')
                                i.metismenu-icon
                                | Pagination
                        li
                            a(href='components-count-up.html')
                                i.metismenu-icon
                                | Count Up
                        li
                            a(href='components-scrollable-elements.html')
                                i.metismenu-icon
                                | Scrollable
                        li
                            a(href='components-tree-view.html')
                                i.metismenu-icon
                                | Tree View
                        li
                            a(href='components-maps.html')
                                i.metismenu-icon
                                | Maps
                        li
                            a(href='components-ratings.html')
                                i.metismenu-icon
                                | Ratings
                        li
                            a(href='components-image-crop.html')
                                i.metismenu-icon
                                | Image Crop
                        li
                            a(href='components-guided-tours.html')
                                i.metismenu-icon
                                | Guided Tours
                li
                    a(href='#')
                        i.metismenu-icon.pe-7s-display2
                        |  Tables
                        i.metismenu-state-icon.pe-7s-angle-down.caret-left
                    ul
                        li
                            a(href='tables-data-tables.html')
                                i.metismenu-icon  
                                | Data Tables
                        li
                            a(href='tables-regular.html')
                                i.metismenu-icon
                                | Regular Tables
                        li
                            a(href='tables-grid.html')
                                i.metismenu-icon
                                | Grid Tables
                li.app-sidebar__heading Dashboard Widgets
                li
                    a(href='widgets-chart-boxes.html')
                        i.metismenu-icon.pe-7s-graph
                        | Chart Boxes 1
                li
                    a(href='widgets-chart-boxes-2.html')
                        i.metismenu-icon.pe-7s-way
                        | Chart Boxes 2
                li
                    a(href='widgets-chart-boxes-3.html')
                        i.metismenu-icon.pe-7s-ball
                        | Chart Boxes 3
                li
                    a(href='widgets-profile-boxes.html')
                        i.metismenu-icon.pe-7s-id
                        | Profile Boxes
                li.app-sidebar__heading Forms
                li
                    a(href='#')
                        i.metismenu-icon.pe-7s-light
                        |  Elements
                        i.metismenu-state-icon.pe-7s-angle-down.caret-left
                    ul
                        li
                            a(href='forms-controls.html')
                                i.metismenu-icon
                                | Controls
                        li
                            a(href='forms-layouts.html')
                                i.metismenu-icon
                                | Layouts
                        li
                            a(href='forms-validation.html')
                                i.metismenu-icon
                                | Validation
                        li
                            a(href='forms-wizard.html')
                                i.metismenu-icon
                                | Wizard
                li
                    a(href='#')
                        i.metismenu-icon.pe-7s-joy
                        |  Widgets
                        i.metismenu-state-icon.pe-7s-angle-down.caret-left
                    ul
                        li
                            a(href='forms-datepicker.html')
                                i.metismenu-icon
                                | Datepicker
                        li
                            a(href='forms-range-slider.html')
                                i.metismenu-icon
                                | Range Slider
                        li
                            a(href='forms-input-selects.html')
                                i.metismenu-icon
                                | Input Selects
                        li
                            a(href='forms-toggle-switch.html')
                                i.metismenu-icon
                                | Toggle Switch
                        li
                            a(href='forms-wysiwyg-editor.html')
                                i.metismenu-icon
                                | WYSIWYG Editor
                        li
                            a(href='forms-input-mask.html')
                                i.metismenu-icon
                                | Input Mask
                        li
                            a(href='forms-clipboard.html')
                                i.metismenu-icon
                                | Clipboard
                        li
                            a(href='forms-textarea-autosize.html')
                                i.metismenu-icon
                                | Textarea Autosize
                li.app-sidebar__heading Charts
                li
                    a(href='charts-chartjs.html')
                        i.metismenu-icon.pe-7s-graph2
                        | ChartJS
                li
                    a(href='charts-apexcharts.html')
                        i.metismenu-icon.pe-7s-graph
                        | Apex Charts
                li
                    a(href='charts-sparklines.html')
                        i.metismenu-icon.pe-7s-graph1
                        | Chart Sparklines
