<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Design Blog a Blog Category Bootstrap Responsive Website Template | Author : W3layouts</title>

    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">
</head>

<body>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
            }
        })();
    </script>
    <script>
        (function () {
            if (typeof _bsa !== 'undefined' && _bsa) {
                // format, zoneKey, segment:value, options
                _bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
            }
        })();
    </script>
    <!--<script>(function(v,d,o,ai){ai=d.createElement("script");ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, "//a.vdo.ai/core/w3layouts_V2/vdo.ai.js?vdo=34");</script>-->
    <div id="codefund">
        <!-- fallback content -->
    </div>
    <script src="https://codefund.io/properties/441/funder.js" async="async"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=UA-149859901-1'></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-149859901-1');
    </script>

    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('require', 'urlChangeTracker');
        ga('send', 'pageview');
    </script>
    <script async src='/js/autotrack.js'></script>

    <meta name="robots" content="noindex">

    <body>
        <link rel="stylesheet" href="/images/demobar_w3_4thDec2019.css">
        <!-- Demo bar start -->
        <div id="w3lDemoBar" class="w3l-demo-bar">
            <a href="https://w3layouts.com/?p=41460" ga-on="click" ga-event-category="Design blog Template"
                ga-event-action="view" ga-event-label="Design blog - view">
                <span class="w3l-icon -back">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path opacity=".87" fill="none" d="M0 0h24v24H0V0z" />
                        <path
                            d="M16.62 2.99c-.49-.49-1.28-.49-1.77 0L6.54 11.3c-.39.39-.39 1.02 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76z" />
                        </svg>
                </span>
                <span class="w3l-text">Back</span>
            </a>
            <a href="https://w3layouts.com/" class="w3l-logo">W3layouts</a>
            <div class="w3l-template-options"><a
                    href="https://edit.w3layouts.com/CreateEditableTemplate/BuildMyEditor/41460" class="w3l-edit"
                    ga-on="click" ga-event-category="Design blog Template" ga-event-action="edit"
                    ga-event-label="Design blog - edit">
                    <span class="w3l-icon -edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                            <path d="M0 0h24v24H0z" fill="none" /></svg>
                    </span>
                    <span class="w3l-text">Edit</span>
                </a>
                <a href="https://w3layouts.com/?p=41460" class="w3l-download" ga-on="click"
                    ga-event-category="Design blog Template" ga-event-action="download-options"
                    ga-event-label="Design blog - Download options" title="Free download requires Backlink">
                    <span class="w3l-icon -download">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z" />
                            <path fill="none" d="M0 0h24v24H0z" /></svg>
                    </span>
                    <span class="w3l-text">Download</span>
                </a>
                <a href="https://w3layouts.com/?p=41460" class="w3l-buy" ga-on="click"
                    ga-event-category="Design blog Template" ga-event-action="Buy Now"
                    ga-event-label="Design blog - Buy" title="Remove Backlink from template">
                    <span class="w3l-icon -buy">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z" />
                            <path d="M0 0h24v24H0z" fill="none" /></svg>
                    </span>
                    <span class="w3l-text">Buy Now</span>
                </a>
            </div>
        </div>

        <!-- header -->
        <header class="w3l-header">
            <!--/nav-->
            <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <span class="fa fa-pencil-square-o"></span> Design Blog</a>
                    <!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <!-- <span class="navbar-toggler-icon"></span> -->
                        <span class="fa icon-expand fa-bars"></span>
                        <span class="fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item @@home__active">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item dropdown @@category__active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories <span class="fa fa-angle-down"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item @@ls__active" href="lifestyle.html">Lifestyle posts</a>
                                    <a class="dropdown-item @@cp__active" href="culture.html">Culture posts</a>
                                    <a class="dropdown-item @@su__active" href="startup.html">Startup posts</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown @@blog__active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blog <span class="fa fa-angle-down"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                    <a class="dropdown-item @@fp__active" href="blog.html">Featured posts</a>
                                    <a class="dropdown-item @@sp__active" href="blog-single.html">Standard single
                                        post</a>
                                    <a class="dropdown-item @@vp__active" href="single.html">Video single post</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More <span class="fa fa-angle-down"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item active" href="author.html">Author page</a>
                                    <a class="dropdown-item @@sr__active" href="search-results.html">Search results</a>
                                    <a class="dropdown-item @@404__active" href="404.html">404 page</a>
                                </div>
                            </li>
                            <li class="nav-item @@contact__active">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>

                        <!--/search-right-->
                        <div class="search-right mt-lg-0 mt-2">
                            <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="hny-title two">Search here</h3>
                                    <form action="search-results.html" method="Get" class="search-box">
                                        <input type="search" placeholder="Search for blog posts" name="search"
                                            required="required" autofocus="">
                                        <button type="submit" class="btn">Search</button>
                                    </form>
                                    <a class="close" href="#close">×</a>
                                </div>
                            </div>
                            <!-- /search popup -->
                        </div>
                        <!--//search-right-->
                        <div class="header-author d-flex ml-lg-4 pl-2 mt-lg-0 mt-3">
                            <a class="img-circle img-circle-sm" href="author.html">
                                <img src="assets/images/author.jpg" class="img-fluid" alt="...">
                            </a>
                            <div class="align-self ml-3">
                                <a href="author.html">
                                    <h5>Alexander</h5>
                                </a>
                                <span>Blog Writer</span>
                            </div>
                        </div>

                    </div>
                    <!-- toggle switch for light and dark theme -->
                    <div class="mobile-position">
                        <nav class="navigation">
                            <div class="theme-switch-wrapper">
                                <label class="theme-switch" for="checkbox">
                                    <input type="checkbox" id="checkbox">
                                    <div class="mode-container">
                                        <i class="gg-sun"></i>
                                        <i class="gg-moon"></i>
                                    </div>
                                </label>
                            </div>
                        </nav>
                    </div>
                    <!-- //toggle switch for light and dark theme -->
                </div>
            </nav>
            <!--//nav-->
        </header>
        <!-- //header -->

        <nav id="breadcrumbs" class="breadcrumbs">
            <div class="container page-wrapper">
                <a href="index.html">Home</a> / More / <span class="breadcrumb_last" aria-current="page">Author</span>
            </div>
        </nav>

        <!-- author section -->
        <section id="author" class="w3l-author py-5">
            <div class="container py-md-3">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-4 col-7 order-first">
                        <div>
                            <img src="assets/images/author.jpg" alt="" class="rounded-circle img-fluid">
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 order-md-first mt-lg-0 mt-4">
                        <span class="category">Writing is all my life</span>
                        <h1 class="mb-4 title">Hello, <span class="typed-text"></span><span class="cursor">&nbsp</span>
                        </h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, excepturi.
                            Distinctio accusantium fugit odit? Fugit ipsam. Lorem ipsum dolor sit amet consectetur
                            adipisicing
                            elit. Aspernatur at corporis omnis sapiente deleniti atque ea maxime consequatur optio
                            perspiciatis.
                        </p>
                        <ul class="author-icons mt-4">
                            <li><a class="facebook" href="#url"><span class="fa fa-facebook"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a class="twitter" href="#url"><span class="fa fa-twitter"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a class="google" href="#url"><span class="fa fa-google-plus"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a class="linkedin" href="#url"><span class="fa fa-linkedin"
                                        aria-hidden="true"></span></a>
                            </li>
                            <li><a class="github" href="#url"><span class="fa fa-github" aria-hidden="true"></span></a>
                            </li>
                            <li><a class="dribbble" href="#url"><span class="fa fa-dribbble"
                                        aria-hidden="true"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- //author section -->

        <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
            <!---728x90--->

        </div>

        <div class="w3l-authorblock2 w3l-homeblock1 mb-5 pb-5">
            <div class="container">
                <!-- block -->
                <div class="item mt-4">
                    <h3 class="section-title-left">Posted by Alexander Ronald </h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="list-view list-view1">
                                <div class="grids5-info">
                                    <a href="blog-single.html" class="d-block zoom"><img src="assets/images/17.jpg"
                                            alt="" class="img-fluid radius-image news-image"></a>
                                    <div class="blog-info align-self">
                                        <span class="category">Technology</span>
                                        <a href="blog-single.html" class="blog-desc1">Edit/proofread your post, and fix
                                            your
                                            formatting.
                                        </a>
                                        <div class="author align-items-center mt-3 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="grids5-info mt-5">
                                    <a href="blog-single.html" class="d-block zoom"><img src="assets/images/19.jpg"
                                            alt="" class="img-fluid radius-image news-image"></a>
                                    <div class="blog-info align-self">
                                        <span class="category">Startups</span>
                                        <a href="blog-single.html" class="blog-desc1">The Beginner's Guide to Starting a
                                            Successful Blog in 2020
                                        </a>
                                        <div class="author align-items-center mt-3 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mt-md-0 mt-5">
                            <div class="list-view list-view1">
                                <div class="grids5-info">
                                    <a href="blog-single.html" class="d-block zoom"><img src="assets/images/18.jpg"
                                            alt="" class="img-fluid radius-image news-image"></a>
                                    <div class="blog-info align-self">
                                        <span class="category">Culture</span>
                                        <a href="blog-single.html" class="blog-desc1">Home to Organize your content in
                                            an
                                            outline.
                                        </a>
                                        <div class="author align-items-center mt-3 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="grids5-info mt-5">
                                    <a href="blog-single.html" class="d-block zoom"><img src="assets/images/20.jpg"
                                            alt="" class="img-fluid radius-image news-image"></a>
                                    <div class="blog-info align-self">
                                        <span class="category">Design</span>
                                        <a href="blog-single.html" class="blog-desc1">10 Fresh Ways to Get Better
                                            Results
                                            From
                                            Your Blog Posts
                                        </a>
                                        <div class="author align-items-center mt-3 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- block -->
                    <div class="row mt-5 pt-md-5 img-block-mobile">
                        <div class="col-lg-9 most-recent">
                            <h3 class="section-title-left">Most Recent posts </h3>
                            <div class="list-view ">
                                <div class="grids5-info">
                                    <div class="blog-info">
                                        <span class="category">Technology</span>
                                        <a href="blog-single.html" class="blog-desc mt-0">Curated Collection Post : 8
                                            Examples
                                            of Evolution in Action
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tenetur
                                            accusamus
                                            voluptas. Mollitia, natus ipsam maiores placeat elit.</p>
                                        <div class="author align-items-center mt-3 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="blog-single.html" class="d-block zoom"><img src="assets/images/16.jpg"
                                            alt="" class="img-fluid radius-image news-image mt-md-0 mt-3"></a>
                                </div>

                                <div class="grids5-info mt-5">
                                    <div class="blog-info">
                                        <span class="category">Based on your reading history</span>
                                        <a href="blog-single.html" class="blog-desc mt-0">The Key Benefits of Studying
                                            Online
                                            [Infographic]
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tenetur
                                            accusamus
                                            voluptas. Mollitia, natus ipsam maiores beatae elit.</p>
                                        <div class="author align-items-center mt-3 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="blog-single.html" class="d-block zoom"><img src="assets/images/17.jpg"
                                            alt="" class="img-fluid radius-image news-image mt-md-0 mt-3"></a>
                                </div>

                                <div class="grids5-info mt-5">
                                    <div class="blog-info">
                                        <span class="category">Sports and Fitness</span>
                                        <a href="blog-single.html" class="blog-desc mt-0">Ivy Goes Mobile With New App
                                            for
                                            Designers
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tenetur
                                            accusamus
                                            voluptas. Mollitia, natus ipsam maiores beatae elit.</p>
                                        <div class="author align-items-center mt-3 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="blog-single.html" class="d-block zoom"><img src="assets/images/20.jpg"
                                            alt="" class="img-fluid radius-image news-image mt-md-0 mt-3"></a>
                                </div>

                                <div class="grids5-info mt-5">
                                    <div class="blog-info">
                                        <span class="category">Health and Food </span>
                                        <a href="blog-single.html" class="blog-desc mt-0">What I Wish I Had Known Before
                                            Writing
                                            My First Book
                                        </a>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tenetur
                                            accusamus
                                            voluptas. Mollitia, natus ipsam maiores beatae elit.</p>
                                        <div class="author align-items-center mt-3 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="blog-single.html" class="d-block zoom"><img src="assets/images/18.jpg"
                                            alt="" class="img-fluid radius-image news-image mt-md-0 mt-3"></a>
                                </div>

                            </div>
                            <!-- pagination -->
                            <div class="pagination-wrapper mt-5">
                                <ul class="page-pagination">
                                    <li><span aria-current="page" class="page-numbers current">1</span></li>
                                    <li><a class="page-numbers" href="#url">2</a></li>
                                    <li><a class="page-numbers" href="#url">3</a></li>
                                    <li><a class="page-numbers" href="#url">4</a></li>
                                    <li><a class="page-numbers" href="#url">....</a></li>
                                    <li><a class="page-numbers" href="#url">15</a></li>
                                    <li><a class="next" href="#url"><span class="fa fa-angle-right"></span></a></li>
                                </ul>
                            </div>
                            <!-- //pagination -->
                        </div>
                        <div class="col-lg-3 trending mb-5 mt-lg-0 mt-5">
                            <div class="pos-sticky">
                                <h3 class="section-title-left">Trending </h3>

                                <div class="grids5-info">
                                    <h4>01.</h4>
                                    <div class="blog-info">
                                        <a href="blog-single.html" class="blog-desc1"> 10 Fresh Ways to Get Better
                                            Results
                                            From
                                            Your Blog Posts
                                        </a>
                                        <div class="author align-items-center mt-2 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="grids5-info">
                                    <h4>02.</h4>
                                    <div class="blog-info">
                                        <a href="blog-single.html" class="blog-desc1"> How to Optimize for on-page SEO.
                                        </a>
                                        <div class="author align-items-center mt-2 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="grids5-info">
                                    <h4>03.</h4>
                                    <div class="blog-info">
                                        <a href="blog-single.html" class="blog-desc1"> What to Post on the Instagram
                                        </a>
                                        <div class="author align-items-center mt-2 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="grids5-info">
                                    <h4>04.</h4>
                                    <div class="blog-info">
                                        <a href="blog-single.html" class="blog-desc1"> 18 Photo & Video Ideas to Spark
                                            Inspiration
                                        </a>
                                        <div class="author align-items-center mt-3 mb-1">
                                            <a href="author.html">Johnson smith</a> in <a href="#url">Design</a>
                                        </div>
                                        <ul class="blog-meta">
                                            <li class="meta-item blog-lesson">
                                                <span class="meta-value"> April 13, 2020 </span>
                                            </li>
                                            <li class="meta-item blog-students">
                                                <span class="meta-value"> 6min read</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //block-->

                    <!-- ad block -->
                    <div class="ad-block text-center mt-5">
                        <a href="#url"><img src="assets/images/ad.gif" class="img-fluid" alt="ad image" /></a>
                    </div>
                    <!-- //ad block -->

                </div>
            </div>
            <!-- //block-->
        </div>

        <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
            <!---728x90--->
        </div>

        <!-- footer -->
        <footer class="w3l-footer-16">
            <div class="footer-content py-lg-5 py-4 text-center">
                <div class="container">
                    <div class="copy-right">
                        <h6>© 2020 Design Blog . Made with <span class="fa fa-heart" aria-hidden="true"></span>,
                            Designed by
                            <a href="https://w3layouts.com">W3layouts</a> </h6>
                    </div>
                    <ul class="author-icons mt-4">
                        <li><a class="facebook" href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="twitter" href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="google" href="#url"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="linkedin" href="#url"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                        </li>
                        <li><a class="github" href="#url"><span class="fa fa-github" aria-hidden="true"></span></a></li>
                        <li><a class="dribbble" href="#url"><span class="fa fa-dribbble" aria-hidden="true"></span></a>
                        </li>
                    </ul>
                    <button onclick="topFunction()" id="movetop" title="Go to top">
                        <span class="fa fa-angle-up"></span>
                    </button>
                </div>
            </div>

            <!-- move top -->
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function () {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <!-- //move top -->
        </footer>
        <!-- //footer -->

        <!-- Template JavaScript -->
        <script src="assets/js/theme-change.js"></script>

        <script src="assets/js/jquery-3.3.1.min.js"></script>

        <!-- /typig-text-->
        <script>
            const typedTextSpan = document.querySelector(".typed-text");
            const cursorSpan = document.querySelector(".cursor");

            const textArray = ["I'm Alexander Ronald.", "Writing is all my Life.", "I Love to write Blog posts!"];
            const typingDelay = 200;
            const erasingDelay = 10;
            const newTextDelay = 100; // Delay between current and next text
            let textArrayIndex = 0;
            let charIndex = 0;

            function type() {
                if (charIndex < textArray[textArrayIndex].length) {
                    if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
                    typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
                    charIndex++;
                    setTimeout(type, typingDelay);
                } else {
                    cursorSpan.classList.remove("typing");
                    setTimeout(erase, newTextDelay);
                }
            }

            function erase() {
                if (charIndex > 0) {
                    // add class 'typing' if there's none
                    if (!cursorSpan.classList.contains("typing")) {
                        cursorSpan.classList.add("typing");
                    }
                    typedTextSpan.textContent = textArray[textArrayIndex].substring(0, 0);
                    charIndex--;
                    setTimeout(erase, erasingDelay);
                } else {
                    cursorSpan.classList.remove("typing");
                    textArrayIndex++;
                    if (textArrayIndex >= textArray.length) textArrayIndex = 0;
                    setTimeout(type, typingDelay);
                }
            }

            document.addEventListener("DOMContentLoaded", function () { // On DOM Load initiate the effect
                if (textArray.length) setTimeout(type, newTextDelay + 250);
            });
        </script>
        <!-- //typig-text-->

        <!-- script for featured posts blog slider -->
        <script src="assets/js/owl.carousel.js"></script>
        <script>
            $(document).ready(function () {
                $('.owl-testimonial').owlCarousel({
                    loop: true,
                    margin: 0,
                    nav: true,
                    responsiveClass: true,
                    autoplay: false,
                    autoplayTimeout: 5000,
                    autoplaySpeed: 1000,
                    autoplayHoverPause: false,
                    responsive: {
                        0: {
                            items: 1,
                            nav: false
                        },
                        480: {
                            items: 1,
                            nav: false
                        },
                        667: {
                            items: 1,
                            nav: true
                        },
                        1000: {
                            items: 1,
                            nav: true
                        }
                    }
                })
            })
        </script>
        <!-- //script for featured posts blog slider -->

        <!-- disable body scroll which navbar is in active -->
        <script>
            $(function () {
                $('.navbar-toggler').click(function () {
                    $('body').toggleClass('noscroll');
                })
            });
        </script>
        <!-- disable body scroll which navbar is in active -->

        <script src="assets/js/bootstrap.min.js"></script>

    </body>

</html>